<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactName</key>
	<string>Holger Just</string>
	<key>description</key>
	<string>Integration with the Redmine issue tracker.</string>
	<key>name</key>
	<string>Redmine</string>
	<key>uuid</key>
	<string>5F9592C3-224A-4B4E-BF20-9119473AEB65</string>
</dict>
</plist>
